polaris.linqra.com {
    reverse_proxy /keycloak/* keycloak-service:8080
    reverse_proxy /eureka/* discovery-service:8761
    handle_path /minio/* {
        reverse_proxy minio-service:9001
    }
    reverse_proxy /api/* api-gateway-service:7777
}
