version: '3.8'

networks:
  linqra-network:
    external: true

services:
  minio:
    build:
      context: .
      dockerfile: .kube/minio/Dockerfile.polaris
    container_name: minio-service
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      VAULT_MASTER_KEY: ${VAULT_MASTER_KEY}
      VAULT_ENVIRONMENT: ${VAULT_ENVIRONMENT:-ec2}
      VAULT_REQUIRED_VARS: MINIO_ACCESS_KEY,MINIO_SECRET_KEY
      MINIO_BROWSER_REDIRECT_URL: "https://polaris.linqra.com/minio/"
    volumes:
      - /opt/minio/data:/data
      - ./secrets:/app/secrets:ro
    networks:
      - linqra-network
