spring:
  application:
    name: api-gateway
  main:
    allow-bean-definition-overriding: true
    allow-circular-references: true
    web-application-type: reactive
  redis:
    host: ${vault.redis.host}
    port: 6379
    database: 0
    timeout: 60000
    connect-timeout: 60000
    lettuce:
      pool:
        max-active: 8
        max-idle: 8
        min-idle: 2
        max-wait: -1ms
  session:
    store-type: none
  security:
    oauth2:
      client:
        registration:
          linqra-gateway-client:
            client-id: linqra-gateway-client
            client-secret: ${vault.keycloak.client.secret}
            authorization-grant-type: authorization_code
            scope: gateway.read
            redirect-uri: ${vault.oauth2.redirect.uri}
            provider: keycloak
        provider:
          keycloak:
            token-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra/protocol/openid-connect/token
            authorization-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra/protocol/openid-connect/auth
            jwk-set-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra/protocol/openid-connect/certs
            issuer-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra
      resourceserver:
        opaquetoken:
          introspection-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra/protocol/openid-connect/token/introspect
          client-id: linqra-gateway-client
          client-secret: ${vault.keycloak.client.secret}
        jwt:
          issuer-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra
          jwk-set-uri: http://${vault.keycloak.gateway.url}:${vault.keycloak.gateway.port}/keycloak/realms/Linqra/protocol/openid-connect/certs
  data:
    mongodb:
      uri: ${vault.mongodb.uri:mongodb://${vault.mongodb.username}:${vault.mongodb.password}@mongodb1:27017,mongodb2:27018,mongodb3:27019/?replicaSet=rs0&authSource=admin&readConcernLevel=majority}
      database: Linqra
      auto-index-creation: true  # Explicitly enable auto-index creation (default is true)
  cloud:
    circuitbreaker:
      resilience4j:
        enabled: true #enable the Resilience4J auto-configuration
    loadbalancer:
      enabled: true # Enable Spring Cloud LoadBalancer for service-to-service discovery
    gateway:
      httpserver:
        wiretap: true
      httpclient:
        wiretap: true
      discovery:
        locator:
          enabled: true # Enables service discovery with Eureka
          lower-case-service-id: true  # This ensures service IDs are matched in lowercase
      routes:
        ## Discover server route
        # so, our gateway port is 7777, we access the discovery server through http://localhost:7777/eureka/web
        # the filter is to reroute the request from http://localhost:7777/eureka/web to http://localhost:8761
        - id: discovery-server
          uri: https://${vault.eureka.gateway.url}:8761
          predicates:
            - Path=/eureka/web
          filters:
            - SetPath=/

          ## Discovery server static resources
        - id: discovery-server-static
          uri: https://${vault.eureka.gateway.url}:8761
          predicates:
            - Path=/eureka/**

#        ## Inventory Service (Just to Test) (This is being loaded dynamically from mongodb)
#      - id: inventory-service
#        uri: lb://inventory-service
#        predicates:
#        - Path=/inventory/**
##        filters:
##          - RewritePath=/inventory/(?<segment>.*), /${segment}

management:
  endpoints:
    web:
      exposure:
        include: health,info,loggers,threaddump, metrics

eureka:
  client:
    service-url:
      defaultZone: https://${vault.eureka.gateway.url}:8761/eureka/eureka/
    enabled: true
    register-with-eureka: true
    fetch-registry: true
    eureka-server-connect-timeout-seconds: 60
    eureka-server-read-timeout-seconds: 60
    registry-fetch-interval-seconds: 30  # Reduced frequency: refresh every 30s instead of 10s
    instance-info-replication-interval-seconds: 30
    initial-instance-info-replication-interval-seconds: 60
  instance:
    hostname: ${vault.eureka.instance.url}
    instance-id: ${spring.application.name}:${instanceId:${random.value}}
    non-secure-port-enabled: false
    secure-port-enabled: true
    secure-port: ${server.port}
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

server:
  host: ${vault.gateway.api.host}
  port: ${vault.gateway.api.port}
  http2:
    enabled: true
  use-forwarded-headers: true
  ssl:
    enabled: true
    key-store: ${vault.gateway.key.store}
    key-store-password: ${vault.gateway.keystore.password}
    key-alias: ${vault.gateway.alias.name}
    key-store-type: PKCS12
    trust-store: ${vault.gateway.trust.store}
    trust-store-password: ${vault.gateway.truststore.password}
    trust-store-type: JKS
    client-auth: want

logging:
  file:
    name: logs/api-gateway.log
  level:
    root: INFO
    org.springframework.security: INFO
    org.springframework.web: INFO
    org.springframework.web.reactive.function.client: INFO
    org.springframework.security.oauth2.client: INFO
    org.springframework.cloud.gateway: INFO
    org.springframework.cloud.loadbalancer: INFO
    org.springframework.cloud.client.discovery: INFO
    org.springframework.cloud.netflix.eureka: INFO
    io.github.resilience4j.circuitbreaker: INFO
    org.springframework.cloud.gateway.route.RouteDefinitionLocator: INFO
    org.springframework.cloud.gateway.filter.ratelimit: INFO
    org.springframework.data.redis: INFO
    org.springframework.web.socket: INFO
    org.springframework.messaging: INFO
    org.springframework.security.web.server.authentication.AuthenticationWebFilter: ERROR
    javax.net.ssl: OFF  # Suppress SSL handshake warnings/timeouts completely
    sun.security.ssl: ERROR  # Suppress SSL debug logs
    org.mongodb.driver: ERROR
    org.mongodb.driver.cluster: INFO
    org.mongodb.driver.connection: INFO
    org.mongodb.driver.protocol: INFO
    org.mongodb.driver.operation: INFO
    org.lite.gateway: INFO

notifications:
  email:
    host: in-v3.mailjet.com
    port: 587
    username: ${vault.smtp.username}
    password: ${vault.smtp.password}
    to: msen@dipme.com
    enabled: ${vault.smtp.enabled}
  slack:
    webhook-url: ${vault.slack.webhook.url}
    enabled: ${vault.slack.enabled}

cors:
  allowed-origins: http://localhost:3000,https://localhost:3000,https://localhost:8080,https://your-prod-domain.com
  allowed-methods: GET,POST,PUT,PATCH,DELETE,OPTIONS,HEAD
  allowed-headers: Origin,Content-Type,Accept,Authorization,X-Requested-With,X-User-Token
  max-age: 3600

jwt:
  secret: ${vault.jwt.secret}
  expiration: 86400000 # 24 hours in milliseconds

milvus:
  host: ${vault.milvus.host}
  port: ${vault.milvus.port}
  username: ${vault.milvus.username}
  password: ${vault.milvus.password}

neo4j:
  uri: ${vault.neo4j.uri}
  username: ${vault.neo4j.username}
  password: ${vault.neo4j.password}

# Knowledge Hub S3 Configuration
aws:
  region: ${vault.aws.region}
  s3:
    bucket: ${vault.aws.s3.bucket.name}

# Vault Configuration
# Path: /app/secrets/vault.encrypted (absolute path) - for Docker containers
vault:
  file:
    path: /app/secrets/vault.encrypted
  master:
    key: ${VAULT_MASTER_KEY}

linqra:
  knowledgehub:
    s3:
      bucket-name: ${vault.aws.s3.bucket.name}
      raw-prefix: raw
      processed-prefix: processed
      presigned-url-expiration: PT15M  # 15 minutes
      max-file-size: 52428800  # 50MB in bytes
    redis:
      document-processing-channel: document-processing-queue