/* react-select styling for Knowledge Hub */
.basic-multi-select {
  width: 100%;
}

.select__control {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.select__control:hover {
  border-color: #86b7fe !important;
}

.select__control--is-focused {
  border-color: #86b7fe !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

.select__menu {
  z-index: 1000 !important;
}

